/* *Global styles* */

.ico {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background: rgb(255, 62, 121);
  padding: 12px;
}

.text {
  color: #1b1c21;
}

.link {
  font-size: 1.14rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

/* *Local styles* */

/* Header */

.header__container {
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding: 0 16px;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
}

.header__left-col {
  display: flex;
  align-items: center;
  width: 186px;
}

.header__logo {
  margin: 0 15px;
}

.header__links {
  position: relative;
}

.header__links.contacts {
  display: none;
}

.header__links.services::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -20px;
  border-radius: 1px;
  background: rgb(234, 234, 234);
  vertical-align: middle;
  transform: scaleY(0.8);
}

.links-list {
  display: flex;
  gap: 16px;
}

/* Main */

.main__container {
  padding: 24px 16px;
  position: relative;
}

.main-headline {
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main-headline::before {
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  background-color: #41F6D7;
  display: inline-block;
  left: 0;
  position: absolute;
}

.slide-menu {
  display: flex;
  margin: 24px 0;
  overflow-x: scroll;
}

.slide-menu__link {
  white-space: nowrap;
  padding: 8px 16px;
  display: block;
  height: 40px;
}

.slide-menu__link.active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  line-height: 20px;
}

.paragraph {
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.paragraph + .text::before {
  content: "\A";
  white-space: pre;
}

.main__second-paragraph {
  display: none;
}

.read-more-btn {
  margin: 16px 33px;
  position: relative;
}

.read-more-btn::before {
  content:url(../img/read-more-ico.svg);
  position: absolute;
  left: -24px;
  display: inline-block;
}

.image {
  position: absolute;
  width: 100vw;
  left: 0;
  transform: translate(0px, 57px);
  aspect-ratio: 320 / 176;
}

@media (min-width:320px) {
  .slide-menu {
    overflow-x: scroll;
    scrollbar-color: trasparent;
  }
  
  
  
}